.section {
  width: 100%;
  min-height: 900px;

  background-image: url('/sidedownhome.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  overflow: hidden;
}

/* Tablet */
@media (max-width: 1000px) {
  .section {
    min-height: 750px;
    background-position: center center;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .section {
    min-height: 650px;
    background-position: center center;
  }
}
